:root {
    --title-color: #1a9e00;
    --primary-color: #b16400;
}

* {
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
    max-height: 700px;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    color: var(--primary-color);
    
}

#Welcome {
    width: 90%;
    max-width: 1400px;
    max-height: 700px;

    margin: 0 auto;
}

header img{
    margin-top: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


header a{
    color: var(--title-color);
    font-weight: bold;
 
    display: inline;
    
}
 button {
    width: 50%;
    height: 60px;

    grid-row-start: 2;

    display: flex;
    flex-direction: initial;
    background-color: white;
    padding: 5px;
    margin: 5px;
    margin-right: 0;
    border-radius: 10px;
    background-color: var(--primary-color);
    border-radius: 8px;

    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;

    border: 0;
    margin-bottom: 20px;
    transition: background-color 400ms;
    display: flex;
    flex-direction: column;
    margin: 15px;
    align-items: center;
    margin-right: 15px;
    padding: 10px;
    justify-content: space-around ;
}
#Welcome1{
    position: fixed;
}